.vacancies-list {
  display: grid;
  gap: 1rem;
}

.vacancies-list > a {
  display: grid;
  gap: .3rem;
  color: black;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--background-500);
}

.vacancies-list > a > h3 {
  color: var(--dominant); 
}

.vacancies-list > a:hover {
  cursor: pointer;
  border-color: var(--dominant);
}

.vacancies-list > a > .buttons {
  margin-top: .5rem;
  display: flex;
  gap: .5rem;
}