.vacancy {
  display: grid;
  gap: .3rem;
  padding: 1.5rem;
}

.vacancy_hoverable:hover {
  cursor: pointer;
  border-color: var(--main);
}

.vacancy_bordered {
  border: 1px solid var(--background-500);
  border-radius: 8px;
}

.vacancy__title {
  color: var(--contrast);
}

.vacancy__buttons {
  display: flex;
  gap: .4rem;
  margin-block: .3rem;
}